.register-header {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}